<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/homestyle.css" />
  <title>CRM</title>
</head>
<body>
<div class="container">
  <div class="logo-area">
    <img src="" alt="" />
    <div>
      <div class="part-name">CRM</div>
      <div class="another-part">
        <div class="another-part">DAta</div>
      </div>
    </div>
    <form action="" method="post" id="infor">
      <div class="information">
        <h2>DASHBOARD</h2>
        <p>CRUD TABLE</p>
      </div>
      <div class="wrapper">
        <div class="table" >
          <div class="row header green">
            <table width="100%">
              <thead>
              <tr>
                <td>FirstName</td>
                <td>Email</td>
                <td>PhoneNumber</td>
                <td>Address</td>
              </tr>
              </thead>
              <tbody>
              <tr th:each="row:${students}">
                <td th:text="${row.getId()}"></td>
                <td th:text="${row.getFirstname()}"></td>
                <td th:text="${row.getEmail()}"></td>
                <td th:text="${row.getPhonenumber()}"></td>
                <td th:text="${row.getAddress()}"></td>
                <td>
                  <a th:href="@{/update/{id}(id=${row.getId()})}">Edit</a> |
                  <a th:href="@{/delete_profile/{id}(id=${row.getId()})}">Delete</a>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
